*,
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
body {
    background-color: blue;
    }
.calculator {
    width: 200px;
    margin: 50px auto;
    border: 1px solid royalblue
}
/*adding screen info*/
#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    border: 10px black;
}

.buttons {
    padding: 10px;
    font-size: 16px;
}
